.game {
  position: absolute;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  max-width: 40%;
  max-height: 100%;
  background-color: black;
  z-index: 99;
  font-family: 'Roboto Mono', monospace;
}

.user-stats {
  position: absolute;
  margin-top: 2em;
  margin-left: 2em;
  background-color: whitesmoke;
  color: black;
  width: 30%;
  border-radius: 25px;
  border: black solid 3px;
  box-shadow: 2px 2px 5px 2px black;
  padding: 0.5em;
}

.event {
  position: absolute;
  background-color: white;
  color: black;
  bottom: 5%;
  left: 2.5%;
  width: 90%;
  max-height: fit-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 30px;
  border: black solid 3px;
  box-shadow: 2px 2px 5px 2px black;
}

.event-box {
  position: relative;
  z-index: 5;
}

.option {
  font-size: calc(.001em + 2vmin);
  height: calc(1em + 18px);
  // margin-top: -.1px;
  margin-bottom: -.1px;
}

.sprite {
  position: absolute;
  width: 15em;
  // z-index: -1;
  transform: translate(-50%, -100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.reaction {
  position: absolute;
  right: 30%;
  bottom: 120%;
}

.reaction-hidden {
  position: absolute;
  right: 30%;
  bottom: 120%;
  font-size: 5em;
  opacity: 0;
  transform: translate(50px, 20px);
  animation-duration: 3s;
  animation-name: slidein, fadeOut;
}

@keyframes slidein {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}
