.game {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  aspect-ratio: 3/4;
  min-height: 100vmin;
  min-width: 100vmin;
  max-width: 100vw;
  max-height: 100vh;
  background-color: black;
  z-index: 99;
  font-family: "Roboto Mono", monospace;
  animation: fadeIn 6s 1;
}

.game .fade-in {
  animation: fadeIn 2s 1;
}

@keyframes fadeOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.sprite {
  position: absolute;
  width: 40%;
  transform: translate(-50%, -100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.reaction {
  position: absolute;
  right: 28%;
  bottom: 120%;
  z-index: 5;
}

.reaction-hidden {
  position: absolute;
  right: 28%;
  bottom: 120%;
  font-size: 5em;
  opacity: 0;
  transform: translate(50px, 20px);
  animation-duration: 3s;
  animation-name: slidein, fadeOut;
  z-index: 5;
}

@keyframes slidein {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-150%);
  }
}

.fade-in {
  transition: 2s linear;
}
