.pet-stats {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: fixed;
  margin-top: 2em;
  right: 0%;
  margin-right: 2em;
}

.mood-bar-container {
  display: flex;
  margin: .3em;
  flex-wrap: wrap;
  object-fit: cover;
  border-radius: 10px;
  flex-direction: column;
  border: darkgray solid 1px;
  background-color: lightgray;
  height: 1em;
  z-index: 900;
  align-content: flex-start;
  padding: .25em;
}

.mood-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
  overflow: hidden;
  transition: width 0.6s;
}