.welcome {
  font-family: 'Lobster', sans-serif;
}

.App-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  max-width: 60%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(.3em + 2vmin);
  color: white;
}

.intro {
  width: 70%;
  font-size: .75em;
  text-align: left;
  margin-top: -.75em;
}