.welcome {
  font-family: 'Lobster', sans-serif;
  animation: fadeIn 5s;
  // width: 90%;
  height: 10%;
}

.App-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  aspect-ratio: 3/4;
  width: 100%;
  max-height: 95%;
  max-width: 40%;
  min-height: 532px;
  min-width: 399px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.intro {
  width: 80%;
  font-size: .75em;
  text-align: left;
  margin-top: -.75em;
  height: 30%;
}

.mascot {
  height: 20vmin;
  pointer-events: none;
  animation: wiggle 2s infinite;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 25% { transform: rotate(5deg) scale(1, 1.2); }
 50% { transform: rotate(0deg) scale(1, .8);  }
 75% { transform: rotate(-5deg) scale(1, 1.2); }
100% { transform: rotate(0deg); }
}

.welcome {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding: 1em;
  animation: fadeIn 5s;
}

.new-game {
  box-shadow: none;
}

.new-game:hover {
  box-shadow: none;
  animation: bounce 2s ease infinite;
}

input {
  padding: .5em;
  margin: .5em;
  text-align: center;
  border-radius: 25px;
}

// @keyframes bounce {
//   70% { transform:translateY(0%); }
//   80% { transform:translateY(-15%); }
//   90% { transform:translateY(0%); }
//   95% { transform:translateY(-7%); }
//   97% { transform:translateY(0%); }
//   99% { transform:translateY(-3%); }
//   100% { transform:translateY(0); }
// }

@keyframes bounce {
  0%, 30%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15%);
  }
  60% {
    transform: translateY(-7%);
  }
}

