.energy-bar-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 2em;
  z-index: 900;
  align-content: center;
}

.energy-bar {
 display: flex;
 flex-direction: row;
 justify-content: center;
 height: 100%;
 width: 95%;
}

.energy {
  background-color: grey;
  height: 100%;
  width: 100%;
  padding: none;
  z-index: 900;
}

.energy-green {
  display: inline-block;
  background-color: green;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: none;
  z-index: 900;
}