#root {
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-size: calc(.001em + 2vmin);
}

.App {
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mascot {
  height: 40vmin;
  pointer-events: none;
}

.welcome {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

button {
  font-family: 'Roboto Mono', monospace;
}

button:hover {
  box-shadow: 2px 2px 2px 2px #888888;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}